.chart-container {
    /* border: 2px solid black; */
    /* display: inline; */
    /* width: 1500px; */
}

.chart-canvas {
float:left;
/* display: inline; */
height: 33%;
 width: 33%;
border: 2px solid black;
}

.dropdown{
  position: relative;
  top: -240px;
  left: 500px;
}

.datesearchwin{
  position: relative;
top: -350px;
left: 900px;
}

#datetb{
  width:150px;
}

.roster{
  border: 2px solid black;
}
.addednewpax.addednewsite{
  background-color: green;
}

.statsblk{
  color: dimgrey;
}

/* #myChart{
  float:right;
} */

#barChart {

}

#windChart {

}

#RadarChart {

}
